@import "utils";

* {
  border: 0;
  outline: 0;
}

.search {
  display: flex;
  position: relative;
  top: 0;
  overflow: hidden;
  width: 60px;
  height: 60px;
  margin: 10px;
  border-radius: 100px;
  transition: width 1s ease-in-out;

  &-input {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    font-weight: bold;
    opacity: 0;
    background-color: $color;

    &::placeholder {
      color: white;
    }
  }

  &-button {
    font-size: 1.5em;
    background-color: #fff;
    margin: 10px;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    margin-right: auto;
    z-index: 1;
    color: $color;
  }

  &:focus-within {
    width: 50%;

    .search-input {
      opacity: 1;
      width: 100%;
      text-indent: 60px;
      color: #fff;
    }
  }
}
