@import "utils";

.sidebar {
  list-style: none;
  padding-left: 10px;
  text-transform: capitalize;
  position: sticky;
  top: 100px;
  height: min-content;
  li {
    padding: 10px;
  }

  .selected {
    font-weight: bold;
    color: $color;
  }
}
